@{
    ViewData["Title"] = "Home Page";
}

<br/>
<br/>
<table>
  <tr><td>First no: </td><td><input type="text" id="a"></td></tr>
  <tr><td>Second no: </td><td><input type="text" id="b"></td><br>

</table>
<br />
    <button onClick="operationFunction('add')">Add</button>
    <button onClick="operationFunction('minus')" >Minus</button>
    <button onClick="operationFunction('multiply')" >Multiply</button>

<div id="Result"></div>

<script>
    function operationFunction(op) {

        var aNumber = document.getElementById("a").value
        var bNumber = document.getElementById("b").value
        var result = 'none';

        if(op==='add'){var svcLink='http://localhost:18081/api/add?'}
        if(op==='minus'){var svcLink='http://localhost:18082/api/minus?'}
        if(op==='multiply'){var svcLink='http://localhost:18083/api/multiply?'}
        
        var req = new XMLHttpRequest();
        req.open('GET', svcLink + 'a=' + aNumber + '&b=' +bNumber , true);
        
        req.setRequestHeader('Content-Type', 'application/json');

        req.onload = function () {
            if (req.status >= 200 && req.status < 400) {
                console.log ('result' + req.responseText);
                var result = req.responseText;
            } else {
                alert('Oh dear!');
            }
        }

        req.send();

        }

        document.getElementById("result").innerHTML = "Result " + result;

</script>